@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

.navbar{
    
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.35s ease;
    
}
.center{
    text-align: center;
    padding-bottom: 15px;
    color:#fff
}

.navbar.sticky{
    background: #222;
    padding: 10px 0;
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar .logo a{
    color:#ffc000;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}



.navbar .menu-list{
    display: inline-flex;

}
.menu-list li {
    list-style: none;
}

.menu-list li a{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.5s ease;

}

.menu-list li a:hover{
    color: #ffc000;
}

.icon{
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top:20px;
}

.banner{
    height: 100vh;
    background:  url("images/ban.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
.banner_text{
    font-family: sans-serif;
    font-size: 75px;
    font-weight: bolder;
    color: white;
    /*text-shadow: 0 0 3px #fff, 0 0 5px #ffc000;*/
    position: absolute;
    top:65vh;
    
    
    
    
}
.ban_img{
    display: flex;
    justify-content: center;
}

.home_img{
    height: 30vh;
    margin-top: -70vh;


}
.sub_text{
    font-family: cursive;
    font-size: 35px;
    color: white;
    /*text-shadow: 0 0 3px #fff, 0 0 5px #ffc000;*/
    position: absolute;
    top:82vh;
}

.about{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #eaeaea;

}

.about .title{
    font-size:40px;
    font-weight: 700;
    font-family: TREBUCHET MS;

}

.about p{
    padding-top: 20px;
    text-align: left;
}
.home_photo{
    height: 15em;
    width: auto;
    float: right;
    margin-left: 12em;
    margin-bottom: 50px;
    margin-right: 200px;
    border-radius: 100%;
    shape-outside: circle();
}  
#skill-btn{
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    border-radius: 8px;
    background-color: #eaeaea;
    border: none;
    color: #1c1c1b;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 350px;
    height: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: Arial;
    
    
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}
  

  
.button:hover span {
    padding-right: 30px;
}
  
.button:hover span:after {
    opacity:1;
    right: 0;
}
.button:hover {
    background-color: #dedede;
    color: #1c1c1b;
}


.back_skills{
    width: 80vw;
    margin-left: 10vw;
    background-color: #100f0f;
    padding-top: 8em;
    padding-bottom: 8em;
    padding-left: 16em;
    padding-right: 16em;
}


#skills {
    font-size:40px;
    font-weight: 700;
    font-family: TREBUCHET MS;
    text-align: center;
    color: #B68D40;
    letter-spacing: 0.3rem;
    
}
.skills-content{
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    color: white;
    padding-top: 20px;
    bottom: 20px;
}



.skill-set__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.skill-set__list {
    width: 47%;
}
ol, ul {
    list-style: none;
}

.skill-set__item {
     margin-top: 2.4rem; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.skill-set__icon {
    width: 12.5%;
    -ms-flex-item-align: center;
    align-self: center;
}
.icons {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.skill-set__detail {
    width: 85.1063%;
}
.skill-set__meta {
    margin-bottom: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.skill-set__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.skill-set__high {
    color: #dbdbdb;
}
.small-title {
    font-size: 1.1rem;
    color: #B68D40;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-family: Arial;
}
skill-set__ratio {
    font-size: 0.6rem;
    line-height: 1.2;
    color: #072142;
}
.skill-set__bar {
    width: 100%;
    height: 0.4rem;
    background: #F4EBD0;
    position: relative;
    -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
    box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}
.skill-set__bar:after {
    -webkit-animation: ratio90 1.5s forwards;
    animation: ratio90 1.5s forwards;
}
.skill-set__bar:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#cba660), color-stop(42%, #cba660), to(#cba660));
    background-image: -webkit-linear-gradient(left, #cba660, #cba660 42%, #cba660);
    background-image: -o-linear-gradient(left, #cba660, #cba660 42%, #cba660);
    background-image: #cba660;
}

.skill-set__bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

}
.python:after{
    width: 90%;
}
.java:after{
    width: 75%;
}
.c:after{
    width: 50%;
}
.html:after{
    width: 90%;
}
.mysql:after{
    width: 50%;
}
.sql:after{
    width: 50%;
}
.photoshop:after{
    width: 70%;
}
.suite:after{
    width: 80%;
}
.bootstrap:after{
    width: 70%;
}
.react:after{
    width: 70%;
}

#timeline-text{
    font-size:40px;
    font-weight: 700;
    font-family: TREBUCHET MS;
    color: #ffc000;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.timeline{
    padding: 150px 100px;
    position: relative;
    width: 100%;
    background-color: darkcyan;
}
.timeline ul li{
    position: relative;
    width: 50%;
}
.timeline::before{
    content: '';
    position: absolute;
    height: 50%;
    width: 4px;
    background-color: #fff;
    left: 50%;
    top:31%;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear:both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear:both;
}
.timeline ul li:nth-child(odd) .content-time{
    margin-right: 100px;
}
.timeline ul li:nth-child(even) .content-time{
    margin-left: 100px;
}
.timeline ul::after{
    content: '';
    display: table;
    clear: both;
}
.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    height: 70px;
    width:70px;
    background-color: black;
    border-radius: 50%;
    right: -42px;
    /*this left is the negative of total width of this+width of timeline::before*/
    top: 50%;
    transform: translate(0%, -50%);
    border: 4px solid #fff;
}
.timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
    left: -36px;
    /*this left is the negative of total width of this+width of timeline::before*/
    top: 50%;
    transform: translate(0%, -50%);
    border: 4px solid #fff;
}
.content-time{
    padding: 20px 0px;
}
.timeline ul li:nth-child(1)::before{
    background-image: url('images/work.png');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.timeline ul li:nth-child(2)::before{
    background-image: url('images/work.png');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.timeline ul li:nth-child(3)::before{
    background-image: url('images/work.png');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.timeline ul li:nth-child(4)::before{
    background-image: url('images/education.png');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.content-time h2{
    font-size: 25px;;
    margin-bottom: 1px;
    color: #ffc000;

}
.content-time p{
    font-size: 14px;
    color: white;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #222;
    text-align: left;

}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 59px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}

input, textarea, label{
    font-family: 'Poppings', sans-serif;

}
.container-1{
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form{
    max-width: 400px;
    float: right;
    margin-right: 50px;
    text-align: left;
    padding: 20px 0;
}

input, textarea, label{
    display: block;
    margin: 0 auto;
    color: #828282;
    width: 100%
}

input, textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit]{
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;

}
input[type=submit]:hover{
    background: white;
    color: #1b1b1b;

}

input, textarea{
    color: white;
    font-size: 18px;
    padding: 10px;
}

input:focus, textarea:focus{
    outline: 1px solid #828282;
}


.contact_rt{
    float: left;
    font-size: 18px;
    color:white;
    

}


.contact_method{
    margin-top: 15%;
    color:white;
    font-size: 22px;
}
.contact_method-1{

    color:white;
    font-size: 22px;
}


.contact_txt{
    font-size:40px;
    font-weight: 700;
    font-family: TREBUCHET MS;
    margin-left: 6em;


}

.color-white{
    color:white;
}



.facebook_logo{
    max-width: 30px;
    height: auto;
}







#last{
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: black;
    background-size: cover;
    }
    .full{
    width: 80%;
    display: inline-block;
    margin:2%;
    margin-left: 10%;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-bottom: 8%;
    margin-top: 8%;
    }
    .full h3{
    font-size: 2rem;
    display:block;
    margin: 2%;
    margin-bottom: 0;
    }
    .lt{
    padding: 2%;
    margin: 2%;
    }
    .rt{
    padding: 2%;
    margin: 2%;
    }
    .lt textarea{
    width: 94%;
    margin-left: 2.8%;
    }
    button{
    margin: 2%;
    }
    .btn-primary{
    border: 2px solid white;
    border-radius: 5%;
    }
    .list-item{
    margin-bottom: 2%;
    list-style-type: none;
    }
    .list-item span{
    margin-left: 10px;
    font-size: 1.4rem;
    }
    .list-item a{
    color: white;
    display: inline-block;
    }
    .list-item a:hover{
    text-decoration: underline;
    }
        
    @media screen and (min-width: 770px){
    .full{
        width: 70%;
        margin-left: 15%;
    }
    .lt textarea{
    width: 95%;
    margin-left: 2.4%;
    }
    }
        
    @media screen and (min-width: 1100px){
    .full{
        width: 65%;
        margin-left: 17%;
        margin-top: 5%;
    }
    .lt{
        width: 55%;
        display: inline-block;
        float: left;
        margin-right: 0;
    }
    .rt{
        width: 35%;
        display: inline-block;
        margin-left: 0;
    }
    .list-item{
    margin-bottom: 10%;
    }
    .contact-list{
        margin-top: 22%;
        padding-right: 8%;
    }
    .fa-envelope, .gmail{
        display: inline-block;
        width: auto;
    }
    }
    






@media (max-width: 868px){
    body.disabledScroll{
        
        overflow: hidden;
    }
    .banner{
        height: 50vh;
        background-position: top;
        align-content: center;   
        background-attachment: fixed;
        background-size: 135%;
        
    }

    .banner_text{
        font-family: sans-serif;
        font-size: 55px;
        font-weight: bolder;
        color: white;
        position: absolute;
        top:30vh;
    }
    .sub_text{
        font-family: cursive;
        font-size: 35px;
        color: white;
        position: absolute;
        top:37vh;
    }

    .home_img{
        height: 14vh;
        margin-top: -40vh;
    
    }
    .navbar .logo a{
        color:#ffc000;
        font-size: 27px;
        font-weight: 600;
        text-decoration: none;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width : 100%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: 0.4s;

    }
    .navbar .menu-list.active{
        left: 0;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;

    }
    .indent{
        margin-left: 0vh;
    }
    .home_photo{
        height: 15em;
        width: auto;
        float: right;
        margin-left: 1vh;
        margin-bottom: 1vh;
        margin-right: 1vh;
    }

    .button {
        font-size: 18px;
        padding: 10px;
        width: 250px;
        margin: 3px;
        
        
    }

    .back_skills{
        width: 100%;
        margin-left: 0;
        background-color: #100f0f;
        padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 2em;
        padding-right: 2em;
    }
    .timeline::before{
        height: 62%;
        top:22%;
    }
    .contact_txt{
        font-size:30px;
        font-weight: 700;
        font-family: TREBUCHET MS;
        margin-left: 3em;
    
    
    }
    
    

}

@media (max-width: 415px){
    body.disabledScroll{
        
        overflow: hidden;
    }
    .banner{
        height: 100vh;
        background: url("images/ban_1.png") no-repeat;
        background-position: top;
        align-content: center;   
        background-attachment: fixed;
        background-size: cover;
        
        
    }
    .banner_text{
        font-family: sans-serif;
        font-size: 45px;
        font-weight: bolder;
        color: white;
        /*text-shadow: 0 0 3px #fff, 0 0 5px #ffc000;*/
        position: absolute;
        top:60vh;
    }    
    .sub_text{
        font-family: cursive;
        font-size: 25px;
        color: white;
        /*text-shadow: 0 0 3px #fff, 0 0 5px #ffc000;*/
        position: absolute;
        top:70vh;
    }


    .home_img{
        height: 20vh;
        margin-top: -70vh;
    
    }

    .navbar .logo a{
        color:#ffc000;
        font-size: 23px;
        font-weight: 600;
        text-decoration: none;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width : 100%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: 0.4s;

    }
    .navbar .menu-list.active{
        left: 0;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;

    }
    .indent{
        margin-left: 0vh;
    }
    .home_photo{
        height: 10em;
        width: auto;
        float: right;
        margin-left: 1vh;
        margin-bottom: 1vh;
        margin-right: 1vh;
    }





    #timeline-text{
        font-size:40px;
        font-weight: 700;
        font-family: TREBUCHET MS;
        color: #ffc000;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    
    .timeline{
        padding: 100px 10px;
        position: relative;
        width: 100%;
        background-color: darkcyan;
    }
    .timeline ul li{
        position: relative;
        width: 50%;
    }
    .timeline::before{
        content: '';
        position: absolute;
        height: 68%;
        width: 4px;
        background-color: #fff;
        left: 50%;
        top:18%;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        text-align: right;
        clear:both;
    }
    .timeline ul li:nth-child(even){
        float: right;
        text-align: left;
        clear:both;
    }
    .timeline ul li:nth-child(odd) .content-time{
        margin-right: 50px;
    }
    .timeline ul li:nth-child(even) .content-time{
        margin-left: 50px;
    }
    .timeline ul::after{
        content: '';
        display: table;
        clear: both;
    }
    .timeline ul li:nth-child(odd)::before{
        content: '';
        position: absolute;
        height: 70px;
        width:70px;
        background-color: black;
        border-radius: 50%;
        right: -42px;
        /*this left is the negative of total width of this+width of timeline::before*/
        top: 50%;
        transform: translate(0%, -50%);
        border: 4px solid #fff;
    }
    .timeline ul li:nth-child(even)::before{
        content: '';
        position: absolute;
        height: 70px;
        width: 70px;
        background-color: black;
        border-radius: 50%;
        left: -36px;
        /*this left is the negative of total width of this+width of timeline::before*/
        top: 50%;
        transform: translate(0%, -50%);
        border: 4px solid #fff;
    }
    .content-time{
        padding: 20px 0px;
    }
    .timeline ul li:nth-child(1)::before{
        background-image: url('images/work.png');
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }
    .timeline ul li:nth-child(2)::before{
        background-image: url('images/work.png');
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }
    .timeline ul li:nth-child(3)::before{
        background-image: url('images/work.png');
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }
    .timeline ul li:nth-child(4)::before{
        background-image: url('images/education.png');
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }
    .content-time h2{
        font-size: 25px;;
        margin-bottom: 1px;
        color: #ffc000;
    
    }
    .content-time p{
        font-size: 14px;
        color: white;
    }
    .ghost{
        display: none;
    }

}





