/* stylee.css file */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('Backgroundimage.jpg') no-repeat center center fixed; 
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  margin: 0 10px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  color: white;
}

.profile-pic {
  width: 250px;  
  height: 250px; 
  background: url('Mypicture.JPG') no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid black;
  margin: 0 auto 20px;
}

.content h1 {
  margin: 0;
  font-size: 36px; /* Increased font size for Ralph Farah */
}

.content p {
  margin: 0;
  font-size: 24px; /* Increased font size for Data Analysis & Web Development */
}

/* CONTACT */
.section__text__p1 {
  text-align: center;
}
#contactt {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contactt-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contactt-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contactt-info-container p {
  font-size: larger;
}

.contactt-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}
.linkedin-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
